<agm-map #map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

  <agm-polyline  [strokeColor]="'red'" [strokeWeight]="0.5" >
    <ng-container *ngFor="let i of paths">
      <agm-polyline-point [latitude]="i.lat" [longitude]="i.lng">
      </agm-polyline-point>
    </ng-container>
  </agm-polyline>

  <agm-polyline  [strokeColor]="'red'" [strokeWeight]="0.5" >
    <ng-container *ngFor="let i of paths">
      <agm-polyline-point [latitude]="i.lat" [longitude]="i.lng">
      </agm-polyline-point>
    </ng-container>
  </agm-polyline>

</agm-map>
