<agm-map #map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

  <agm-polyline  [strokeColor]="'red'" [strokeWeight]="0.5" >
    <ng-container *ngFor="let i of paths">
      <agm-polyline-point [latitude]="i.lat" [longitude]="i.lng">
      </agm-polyline-point>
    </ng-container>
  </agm-polyline>

  <agm-polyline  [strokeColor]="'red'" [strokeWeight]="0.5" >
    <ng-container *ngFor="let i of paths">
      <agm-polyline-point [latitude]="i.lat" [longitude]="i.lng">
      </agm-polyline-point>
    </ng-container>
  </agm-polyline>

</agm-map>

<div class="container">
<ngForm #inputForm>
  <mat-form-field class="map-controls-margin">
    <mat-select placeholder="Origin" [formControl]="originControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let seaport of seaportOptions" [value]="seaport">
        {{seaport.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="originControl.hasError('required')">Please choose an origin port</mat-error>
    <mat-hint>{{originControl.value?.city}}</mat-hint>
  </mat-form-field>
  <mat-form-field class="map-controls-margin">
    <mat-select placeholder="Destination" [formControl]="destinationControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let seaport of seaportOptions" [value]="seaport">
        {{seaport.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="destinationControl.hasError('required')">Please choose a destination port</mat-error>
    <mat-hint>{{destinationControl.value?.city}}</mat-hint>
  </mat-form-field>
  <mat-form-field class="map-controls-margin">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="datePickerControl" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
</ngForm>
</div>
